*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #efebc5;
}

h1{
    font-size: 45px;
    margin: 10px 0;
    margin-bottom: 25px;
}
input{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    background-color: #f1f1f1;
    border: solid black 2px;
    padding-left: 15px;
    font-size: medium;
    margin-bottom: 1.5rem;
}

.add{
    cursor: pointer;
    color: whitesmoke;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 151, 210);
    font-size: medium;
    font-weight: 550;
    border: 0;
    transition-duration: 0.1s;
}

.add:hover{
    border: solid black 2px;
    background-color:rgb(45, 170, 219);
}

/* .div_task{
    width: 60%;
} */
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}

li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: left;
    width: 85%;
    /* height: 2.5rem; */
    border: solid black 2px;
    margin: 0.5rem 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 525;
    border-radius: 10px;
}

.delBtn{
    color: #ffffff;
    border: 0;
    cursor: pointer;
    background-color:rgb(244, 17, 17);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 25px;
    z-index: 50;
    transition-duration: 0.4s;
}
.delBtn:hover{
    border: solid black 2px;
    scale: 1.2;
    background-color:rgb(226, 14, 14)
}

#priorty {
    /* width: 100px; */
    height: 39px;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 500;
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
}

/* #priorty:hover {
    border-color: #45a049;
    background-color: #e2e2e2; 
}*/

#priorty option {
    padding: 10px;
    background-color: #ffffff;
}

/* #priorty:focus {
    border-color: #45a049;
} */

.high{
    border-radius: 10px;
    /* border: solid 2px red; */
    width: 30%;
    margin-bottom: 15px;
    background-color:#FF6361;
}

.high li{
    z-index: 10;
    background-color: #ee8181;
}
.moderate{
    border-radius: 10px;
    background-color: #e9da53;
    /* border: solid 2px yellow; */
    width: 30%;
    margin-bottom: 15px;
}
.moderate li{
    z-index: 10;
    background-color: #e8e676;
}

.low{
    border-radius: 10px;
    background-color: #bfe186;
    /* border: solid 2px green; */
    width: 30%;
    margin-bottom: 15px;
}
.low li{
    z-index: 10;
    background-color: #b9d391;
}

.task-mang{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

@media(max-width:431px){
    .div_task{
        width: 90%;
    }
    input{
        width: 50%;
    }
    #priorty {
        width: 65px;
        height: 39px;
        padding: 0 1px;
        font-size: 16px;
    }
    
}

@media((min-width:432px) and (max-width:801px)){
    .div_task{
        width: 70%;
    }
    input{
        width: 50%;
    }
    
}